# Environment Variables

# GitHub App ID
APP_ID=XXXXX

# Secret key for the webhook
WEBHOOK_SECRET=secret

# Private key for authentication
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...your private key content...\n-----END PRIVATE KEY-----"

# Repository details
REPO_DETAILS={"org/source1": {"workflow_repo": "dest_repo", "event_type": "deploy"}, "org/source2":{"workflow_repo": "dest_repo", "event_type": "test"}}
